/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .feature-layout {
    padding: 0 20px;
    flex-direction: column;
  }
}

/* Media queries for responsive design mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline-block;
    width: 100%;
  }

  .feature-layout,
  .column-layout {
    padding: 0 20px;
    flex-direction: column;
  }

  .feature-item p {
    margin-left: 0;
    margin-right: 0;
  }

  .column-item {
    flex-basis: 100%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px 0;
  }

  .menu li {
    border-bottom: 1px solid #ddd;
  }
}
